body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px; 
}
h2{
    font-size: 40px;
}
.orange-color{
    color: chartreuse;
}
.flexible-contaner{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half img{
    width: 50%;
    padding-left: 10%;
    
}
.link-button{
 text-decoration: none;
 background-image: linear-gradient(orange,tomato);
 padding: 10px 40px;
 border-radius: 5px;  
 font-weight: 800; 

}
.top-banner{
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;

}
.half-widthr{
    width: 50%;
    padding-right: 10%;
}
 .dream-dig{
     background-image: url(pic/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
 } 
 .experience-area{
     background-image: url(pic/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left ;
 }
 .experience-shadow{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     padding-left: 20px;
     border-radius: 10px;
     box-shadow: 10px 10px 30px  rgb(38, 53, 46);
     
    
 }
 #wed-dev-experience{
     border-left: 7px solid;
     border-image: linear-gradient(blue,cyan) ;
     border-image-slice: 1;
 }
 #wed-dev-experience2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(35, 182, 60),rgb(221, 218, 25)) ;
    border-image-slice: 1;

 }
 footer p{
     text-align: center;
 }








